<doctype html>
<html>
 <head>
    <title>{{ title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' >
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' >
    </head>
 <body>

    <div class="container">
 {{> header}}
    {{{ body }}}

    {{> footer}}
    </div> <!-- / container -->
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </body>
    </html>
