<h1> {{ title }}</h1>

<h2> Are you sure you want to delete?</h2>
<form class = "form-horizontal" method = "post" action = "/users/delete">
  <div class=" form-group">
    <input type="hidden" name="confirm" value="1">
    <div class="radio" name ="softDelete" value ="1" check="Checked"
    >
    Yes Deactivate
    </div>
    <div class="radio" name ="softDelete" value ="0">
    Yes parmantly Delete
    </div>

  <div class="form-group">
    <button type="submit" class="btn btn-warning">Delete</button>

  <a href="/dashboard" type="submit" class="btn btn-success">Go back</button>
</div>
</form>
