<h1> {{ title }}</h1>


<form class = "form-horizontal" method = "post" action = "/users/password_reset">

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder=" confirm Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>